<figure class="credentials">
<h1>Log In</h1>


<form class="log-in" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Username:
    <input type="text" name="user[username]" value=""></input>
  </label><br>

  <label>Password:
    <input type="password" name="user[password]" value=""></input>
  </label>

  <button type="submit">Log In!</button>

</form>

<p>Not yet a user? <a href="<%= new_user_url %>">Sign Up!</a></p>
</figure>
