<figure class="credentials">
  <h3>Log In</h3>

  <form class="log-in" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label>Username:
      <input type="text" name="user[username]" value=""></input>
    </label><br>

    <label>Password:
      <input type="password" name="user[password]" value=""></input>
    </label>

    <button type="submit">Log In!</button>
  </form>


  <form action="<%= demo_sign_in_session_url %>" method="get">
    <button class="demo" type="submit">Demo User</button>
  </form>
  <p>Not yet a user? <a href="<%= new_user_url %>">Sign Up!</a></p>

</figure>

<div class="attribution">Photo courtesy of Biblioteca de Arte-Fundação Calouste Gulbenkian</div> 
