/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 $offwhite: #f4f2e9;
 $lightbrown: #E3DFC9;
 $darkbrown: #8F7F3D;
 $darkdarkbrown: #5E411F;
 $yellowglow: #F2F2A2;
 $errors: #E07B7B;


 html, figure, main, section, article,
 h1, h2, p, strong, em, a {
   margin: 0;
   border: 0;
   padding: 0;
   outline: 0;
   box-sizing: inherit;
   font: inherit;
   font-family: Helvetica;
   text-decoration: inherit;
   text-align: inherit;
   color: inherit;
   background: transparent;
 }

 button {
   font-family: Helvetica;
   border-radius: 10px;
   background: $offwhite;
   color: $darkdarkbrown;
 }

 a {
   text-decoration: underline;
 }

 ul {
   list-style: none;
   padding-left: 0;
 }

// input {
//    -webkit-appearance: none;
//    -moz-appearance: none;
//  }

 body {
  background: $offwhite;
 }

input[type=text]:focus, textarea:focus {
  outline-color: yellow;
}

button:active {
  outline-color: yellow;
  background: $yellowglow;
}

 main#content {
  background: #fff;
  width: 900px;
  border-bottom: 1px solid $darkbrown;
  border-right: 1px solid $darkbrown;
  border-left: 1px solid $darkbrown;
  margin: auto;
  border-radius: 10px;
 }

.group:after {
  content: "";
  display: block;
  clear: both;
}

.hidden {
  display: none;
}
