figure.credentials {
  background: #D69554;
  max-width: 300px;
  margin: 100px auto;
  padding: 100px;
  border-radius: 10px;
  display: block;
}

figure.credentials h1 {
  position: relative;
  bottom: 75px;
  font-size: 50px;
  text-align: center;
}

figure.credentials label,
figure.credentials p {
  font-family: courier;
}

figure.credentials label {
  margin: 5px;
}

.error-list {
  background: #E07B7B;
  display: block;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  left: 10px;
  max-width: 200px;
}
