$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;
$yellowglow: #F2F2A2;
$errors: #E07B7B;

body.credentials {
  background-image: url("/images/bwcinema.jpg");
  background-size: auto 100%;
  background-attachment: fixed;
  // background-position: -70px 0;
}

figure.credentials {
  margin: 0 auto;
  background: $offwhite;
  border: 1px solid $darkdarkbrown;
  max-width: 300px;
  padding: 0 20px 10px 20px;
  border-radius: 10px;
  display: block;
  color: $darkdarkbrown
}

figure.credentials h3 {
  position: relative;
  text-align: center;
  border-radius: 10px;
  background: $lightbrown;
  padding: 5px;
}

figure.credentials label {
  display: block;
  padding: 2px;
  width: 100%;
  margin-bottom: 5px;
}

figure.credentials button {
  padding: 5px 10px;
}

figure.credentials p {
  display: block;
  clear: both;
  text-align: center;
}

.error-list {
  background: #E07B7B;
  display: block;
  position: absolute;
  padding: 10px;
  border-radius: 10px;
  left: 10px;
  max-width: 200px;
}

div.attribution {
  font-size: 12px;
  position: fixed;
  color: #B3B1B5;
  right: 0;
  bottom: 0;
}
