$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;

section.followings {
  background: $offwhite;
  border: 1px solid $darkbrown;
  float: left;
  display: block;
  border-radius: 10px;
  width: 250px;
  padding: 10px 10px 20px 10px;
  color: $darkdarkbrown;
  font-size: 16px;
  font-weight: bold;
}

section.followings h3 {
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background: $lightbrown;
  text-align: center;
}

li.user-item {
  margin: 5px;
}
