$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;
$yellowglow: #F2F2A2;


header.rails-header {
  background: $lightbrown;
  border: 1px solid $darkbrown;
  width: 900px;
  margin: auto;
  border-radius: 10px;
  display: block;
  position: relative;
  min-height: 100px;
}

div.home-link,
nav.welcome {
  min-width: 150px;
  display: block;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  background: #DFD8C6;
  color: $darkdarkbrown;
}

div.home-link {
  float: left;
  margin-right: 65px;
}

div.home-link:hover {
  box-shadow: 5px 5px 5px $darkbrown;
}

nav.welcome {
  float: right;
  max-width: 170px;
}

div.logo {
  float: left;
  margin: 0 auto;
  width: 400px;
  display: block;
}

div.logo img {
  width: 100%;
  height: auto;
}

div.home-link p {
  text-align: center;
}

p.home {
  margin: 10px;
  font-weight: bold;
}

p.home:hover {
  text-shadow: 5px 5px 5px $yellowglow;
}
