$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;

.home-container {
  position: relative;
}

header.home {
  padding: 10px;
}

form.header-search,
div.browse-movies,
div.my-feed {
  background: $offwhite;
  border-radius: 10px;
  border: 1px solid $darkdarkbrown;
  float: left;
  display: block;
  color: $darkdarkbrown;
  margin: 5px 10px;
  cursor: pointer;
}

div.browse-movies,
div.my-feed {
  padding: 15px;
}

form.header-search {
  padding: 10px;
}

figure.search-bar {
  float: left;
}

figure.follow {
  position: absolute;
  right: 10px;
  top: 10px;
}

button.follow {
  padding: 5px 20px;
  font-size: 16px;
}

form.header-search {
  color: $darkdarkbrown;
}

form.header-search button {
  cursor: pointer;
  padding: 5px;
}

div.home-content {
  background: $offwhite;
  border: 1px solid $darkbrown;
  border-radius: 10px;
  float: right;
  display: block;
  width: 565px;
  margin: 10px 20px 20px 20px;
  color: $darkdarkbrown;
}

div.home-sidebar {
  width: 272px;
  float: left;
  margin: 10px 0 10px 20px;
}

.feed-list {
  text-align: center;
}
