section.libraries,
section.reviews {
  border: 5px solid yellow;
  /*float: left;*/
  display: block;
  margin: 50px;
  padding: 20px;
  border-radius: 10px;
}

section.library-show {
  border: 5px solid yellow;
  display: block;
}
