$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;

header.home {
  padding: 10px;
}

form.header-search {
  color: $darkdarkbrown;
}

form.header-search button {
  color: $darkdarkbrown;
  cursor: pointer;
  padding: 5px;
}

div.home-content {
  background: $offwhite;
  border: 1px solid $darkbrown;
  border-radius: 10px;
  float: right;
  display: block;
  width: 565px;
  margin: 10px 20px 20px 20px;
  color: $darkdarkbrown;
}

div.home-sidebar {
  width: 272px;
  float: left;
  margin: 10px 0 10px 20px;
}
