.library-item {
  max-width: 175px;
  border-radius: 10px;
  min-height: 50px;
}

.library-list button.edit,
.library-list button.delete {
  position: relative;
  bottom: 15px;
  left: 15px;
}

.library-list h3 {
  display: block;
  max-width: 175px;
  border-radius: 10px;
  padding-left: 2px;
  position: relative;
}

.library-list h3:hover {
  background: grey;
  top: 2px;
  left: 2px;
}

form.lib-form {
  display: inline;
}
