$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;

section.libraries {
  background: $offwhite;
  border: 1px solid $darkbrown;
  float: left;
  display: block;
  border-radius: 10px;
  width: 250px;
  padding: 10px 10px 20px 10px;
  color: $darkdarkbrown;
  font-size: 16px;
  font-weight: bold;
}

button.all-movies {
  color: $darkdarkbrown;
  font-size: 18px;
  font-weight: bold;
  border: none;
  display: block;
  position: relative;
  padding: 10px 10px;
  width: 230px;
  border-radius: 10px;
  margin: 0 auto;
  background: $lightbrown;
  box-shadow: 5px 5px 5px $darkbrown;
}

.library-item {
  position: relative;
  display: block;
  background: $lightbrown;
  margin: 0px 20px;
  box-shadow: 5px 5px 5px $darkbrown;
  border-radius: 10px;
  min-height: 50px;
}

.library-item:hover {
  cursor: -webkit-grab;
}


button.add-library {
  color: $darkdarkbrown;
  font-size: 12px;
  font-weight: bold;
  border: none;
  display: block;
  margin: auto;
  position: relative;
  left: 12px;
  padding: 10px 40px;
  border-radius: 10px;
  background: $lightbrown;
  box-shadow: 5px 5px 5px $darkbrown;
}

button.all-movies:hover,
button.add-library:hover {
  top: 2px;
}

.lib-title {
  display: block;
  border-radius: 10px;
  padding: 10px 0 0 10px;
  position: relative;
}

.lib-title:hover {
  box-shadow: 2px 2px 2px $darkbrown;
  top: 2px;
  left: 2px;
}

.library-item button.edit {
  position: absolute;
  top: 30px;
  right: 80px;
}

.library-item button.delete {
  position: absolute;
  top: 30px;
  right: 20px;
}

.lib-form-title {
  display: block;
  width: 100%;
  float: left;
}
