$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;

div.movie-show {
 background: #fff;
 width: 900px;
 margin: auto;
 border-radius: 10px;
}

div.visuals {
  float: left;
  width: 205px;
}

img.poster {
  display: block;
  margin: 20px;
  width: 200px;
  float: left;
  box-shadow: 5px 5px 5px $darkbrown;
}

header.movie-show {
  padding: 10px;
}

section.movie-show-info {
  background: $offwhite;
  width: 840px;
  display: block;
  float: left;
  border: 1px solid $darkbrown;
  border-radius: 10px;
  margin: 10px 20px 20px 20px;
  padding: 10px 10px 20px 10px;
  color: $darkdarkbrown;
}


h2.title {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 10px 0;
}

h4.tagline {
  font-style: italic;
  text-align: center;
  display: block;
  margin: 0;
}

.movie-details {
  background: $lightbrown;
  box-shadow: 5px 5px 5px $darkbrown;
  border-radius: 10px;
  width: 560px;
  float: right;
  margin: 20px 10px;
  padding: 10px;
}

div.credits {
  display: block;
  float: left;
  max-width: 350px;
  padding: 10px
}

div.numbers {
  margin-top: 10px;
}

p.writer,
p.director,
.lib-buttons > p {
  font-weight: bold;
  padding: 10px 0;
}

#cast-title {
  font-weight: bold;
}

ul.cast {
  margin-top: 5px;
}

figure.lib-buttons {
  width: 150px;
  float:right;
  padding: 10px;
}

ul.lib-button-list {
  margin-top: 0px;
}

p.lib-button {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid $darkbrown;
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 1px $darkbrown;
  margin-bottom: 2px;
}

p.lib-button:hover {
  top: 2px;
  left: 2px;
  border-radius: 10px;
}

figure.lib-buttons li {
  margin: 10px;
}

.movie-ratings,
.movie-reviews {
  background: $offwhite;
  position: relative;
  display: block;
  border: 1px solid $darkbrown;
  border-radius: 10px;
  padding: 10px 10px 20px 10px;
  color: $darkdarkbrown;
}

.movie-ratings {
  margin: 10px 10px 20px 20px;
  width: 245px;
  float: left;
}

.movie-reviews {
  margin: 10px 20px 20px 10px;
  width: 550px;
  float: right;
}

.movie-ratings h3,
.movie-reviews h3 {
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background: $lightbrown;
  text-align: center;
  bottom: 20px;
  margin-bottom: 0;
}

button.add-review {
  font-size: 14px;
  margin: auto;
  display: block;
}
