.movie-show {

}


img {
  width: 200px;
}

/*.movie-list li {
  float: left;
  display: block;
  margin: 20px;
}*/

.movie-list img {
  height: 400px;
  width: auto;
}

.movie-show-info {
  max-width: 400px;
  /*display: block;
  float: left;
  border: 5px solid red;

  border-radius: 10px;*/
}

.movie-show-info .title {
  font-size: 28px;
  /*text-align: center;*/
}
