h3.library-title {
  text-align: center;
}

li.movie-item {
  list-style: none;
  margin: 10px;
  background: lightgrey;
  border-radius: 10px;
  display: block;
  position: relative;
}

li.movie-item img {
  background: white;
  width: 75px;
  min-height: 100px;
  height: auto;
  float: left;
  display: block;
}

li.movie-item h3 {
  float: left;
  display: block;
}

li.movie-item:hover {
  left: 2px;
  top: 2px;
}
