div.ratings-container {
  margin: 0 auto;
  width: 165px;
}

div.avg-stars,
div.item-stars,
div.stars,
div.rev-stars {
  height: 20px;
  width: auto;
  float: right;
  margin-right: 5px;
}

div.rev-stars img,
div.avg-stars img,
div.item-stars img,
div.stars img {
  height: 100%;
  width: auto;
}

div.item-stars {
  margin-top: 70px;
}

p.your-rating,
p.avg-rating {
  display: block;
  float: right;
  margin: 10px 0 5px 5px;
}

div.imdb,
div.metacritic {
  margin-top: 5px;
  float: right;
  width: 150px;
}

div.ratings-container a {
  text-decoration: none;
}

.critic-logo {
  height: 25px;
  width: auto;
  margin-right: 5px;
  float: right;
}

.metacritic p,
.imdb p {
  float: right;
  line-height: 30px;
  margin-left: 10px;
}

.critic-logo img {
  height: 100%;
  width: auto;
}
