section.reviews {
  padding: 10px;
  width: 100%;
  display: block;
  float: left;
  min-height: 100px;
  background: lightyellow;
}

section.reviews h3 {
  text-align: center;
}

li.review-item {
  display: block;
  margin: auto;
  width: 150%;
  list-style: none;
  background: lightgrey;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

form.review-form {
  display: inline;
}
