$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;
$yellowglow: #F2F2A2;

section.reviews {
  padding: 10px;
  min-height: 100px;
  position: relative;
}

ul.reviews-list {
  position: relative;
}

ul.my-review-list div {
  text-align: center;
}

section.reviews h3 {
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background: $lightbrown;
  text-align: center;
  bottom: 20px;
}

li.review-item {
  background: $lightbrown;
  display: block;
  list-style: none;
  padding: 15px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px $darkbrown;
  width: 450px;
  position: relative;
}

div.review-img {
  margin-right: 10px;
  float: left;
  height: 100%;
  width: 75px;
  cursor: pointer;
}

.review-item p.body {
  display: block;
  padding: 5px;
  max-width: 350px;
  word-wrap: break-word;
}

section.rev-stats {
  margin-top: 5px;
  max-width: 150px;
  float: right;
}

div.stars {
  display: block;
}

p.author,
p.movie {
  display: block;
  text-align: right;
  font-size: 14px;
}

p.movie a,
p.author a {
  text-decoration: none;
}

p.movie a:hover,
p.author a:hover {
  text-shadow: 1px 1px 1px $yellowglow, -1px -1px 1px $yellowglow;
}

p.updated-at {
  display: block;
  text-align: right;

  font-size: 12px;
  font-style: italic;
}

.review-item button.edit,
.review-item button.delete {
  margin: 5px;
}
