$offwhite: #f4f2e9;
$lightbrown: #E3DFC9;
$darkbrown: #8F7F3D;
$darkdarkbrown: #5E411F;
$errors: #DE042C;

header.search {
  padding: 5px;
  color: $darkdarkbrown;
  text-align: center;
}

.search button {
  padding: 5px;
}

.results-container {
  width: 100%;
}

section.results {
  position: relative;
  float:left;
  width: 800px;
  margin: 20px;
  padding: 10px;
  background: $offwhite;
  border: 1px solid $darkbrown;
  border-radius: 10px;
  display: block;
  color: $darkdarkbrown;
}

h3.results-title {
  margin-bottom: 0;
  border-radius: 10px;
  padding: 5px;
  position: relative;
  background: $lightbrown;
  text-align: center;
  display: block;
}

.empty-msg {
  width: 100%;
  color: $errors;
  font-size: 14px;
  padding: 5px;
  position: relative;
  margin: 0 auto;
  margin-top: 5px;
  text-align: center;
}

.user-result,
.result {
  background: #fff;
  border-radius: 10px;
  display: block;
  padding: 10px;
  margin: 5px;
  position: relative;
}

.user-result:hover,
.result:hover {
  background: $lightbrown;
}

.clicked {
  top: 2px;
  left: 2px;
  background: $lightbrown;
}

.movie-add {
  display: block;
  text-align: center;
  color: $darkdarkbrown;
  margin: 10px;
}
