.results {
  list-style: none;
  position: relative;
}

.result {
  background: #fff;
  border-radius: 10px;
  display: block;
  padding: 10px;
  margin: 5px;
  position: relative;
}

.result:hover {
  background: lightgrey;
}

.clicked {
  top: 2px;
  left: 2px;
  background: lightgrey;
}

.message {
  text-align: right;
}
