div.item-stars,
div.stars {
  height: 30px;
  width: auto;
  float: right;
  margin: 0 auto;
}

div.item-stars img,
div.stars img {
  height: 100%;
  width: auto;
}

div.item-stars {
  margin-top: 70px;
}
