div.avg-stars,
div.item-stars,
div.stars,
div.rev-stars {
  height: 20px;
  width: auto;
  float: right;
  margin-right: 5px;
}

div.rev-stars img,
div.avg-stars img,
div.item-stars img,
div.stars img {
  height: 100%;
  width: auto;
}

div.item-stars {
  margin-top: 70px;
}

p.your-rating,
p.avg-rating {
  display: block;
  float: right;
  margin-right: 5px;
  margin-bottom: 5px;
}

div.metacritic {
  margin-top: 5px;
  line-height: 30px;
  float: right;
}

.critic-logo {
  height: 30px;
  width: auto;
  float: left;
}

.critic-logo img {
  height: 100%;
  width: auto;
}
