$offwhite: #f4f2e9;
$darkdarkbrown: #5E411F;

div.follow-button {
  background: $offwhite;
  border-radius: 10px;
  border: 1px solid $darkdarkbrown;
  color: $darkdarkbrown;
  margin: 5px 10px;
  cursor: pointer;
  padding: 15px;
}
