<form class="header-search">
  <label>Search for Movies:
    <input type="text" class="query">
  </label>
  <button type="submit">Search</button>
</form>

<div class="header-links">
  <a href="#/movies">Browse Movies</a>
</div>
