<form class="header-search">
  <label>Search for Movies:
    <input type="text" class="query">
  </label>
  <button type="submit">Search</button>
</form>

<div class="header-links">
  <div class="browse-movies">Browse Movies</div>
  <div class="my-feed">My Feed</div>
</div>
