<header class="home group"></header>

<main class="home group">
  <div class="home-sidebar group">
    <section class="libraries">
      <button class="all-movies">All My Movies</button>
      <h3>My Libraries:</h3>
      <ul class="library-list"></ul>

      <div>
        <button class="add-library">Add a new Library</button>
      </div>
    </section>

    <section class="followings">
      <h3>Cinephiles I'm Following</h3>
      <ul class="followings-list"></ul>
      <form class="friend-search">
        <label>Find More Friends:
          <input type="text" class="friend-query">
        </label>
        <button type="submit">Search By Username</button>
      </form>
    </section>
  </div>

  <div class="home-content">
    <section class="library-show">
      <div class="lib-show-prompt">
        <p>Click on one of your libraries to see its movies.</p>
        <p>Want to add more movies to your libraries?</p>
        <p><a href="#movies">Browse Movies</a> or
        <a href="#search">Search for Movies</a>
      </div>
    </section>

    <section class="reviews">
      <h3>My Recent Reviews:</h3>
      <ul class="my-review-list"></ul>
    </section>
  </div>
</main>
