<h2>Home</h2>

<section class="libraries">
  <h3>My Libraries:</h3>
  <ul class="library-list"></ul>

  <div>
    <button class="add-library">Add a new Library</button>
  </div>
</section>

<section class="library-show">
</section>

<section class="reviews">
  <h3>My Reviews:</h3>
  <ul class="my-review-list"></ul>
</section>
