<h2>Home</h2>

<section class="libraries">
  <h3>Your Libraries:</h3>
  <ul class="library-list"></ul>

  <div>
    <button class="add-library">Add a new Library</button>
  </div>
</section>

<a href="#movies/new">Add a new Movie</a><br>
