<label>Title:
  <input type="text" name="library[title]" value="<%= library.escape("title") %>">
</label>

<label>Private
  <input id="is_private" type="radio" name="library[is_public]" value="false">
</label>

<label>Public
  <input id="is_public" type="radio" name="library[is_public]" value="true">
</label><br>
