<label>Title:
  <input type="text" name="library[title]" value="">
</label>

<label>Public
  <input type="radio" name="library[is_public]" value="true">
</label>

<label>Private
  <input type="radio" name="library[is_public]" value="false">
</label>

<button type="submit">Add Library</button>
