<h4>Add <%= movie.escape("title") %> to My Libraries</h4>
<% libraries.each( function(lib) { %>
  <label>
    <input type="checkbox" name="lm[library_ids][]" value="<%= lib.id %>">
    <%= lib.get("title") %>
  </label><br>
<% }) %>
<button type="submit">Add Movie to Libraries</button
