<label>Title:
  <input type="text" name="library[title]" value="<%= library.escape("title") %>">
</label>

<label>Private
  <input type="radio" name="library[is_public]"value="false"
    <% if (!library.get("is_public")) { %>
      checked
    <% } %>>
</label>

<label>Public
  <input type="radio" name="library[is_public]"value="true"
    <% if (library.get("is_public")) { %>
      checked
    <% } %>>
</label><br>



<button type="submit">Add Library</button>
