<div class="lib-show-prompt">
  <p>Click on one of your libraries to see its movies.</p>
  <p>Want to add more movies to your libraries?</p>
  <p><a href="#movies">Browse Movies</a> or
  <a href="#search">Search for Movies</a>
</div>
