<h3 class="lib-title"><%= library.escape("title") %></h3>

<button class="edit hidden">Edit</button>
<button class="delete hidden">Delete</button>

<div class="modal hidden" data-id-"<%= library.id %>">
  <section class="modal-screen"></section>
  <section class="lib-modal-form group"></section>
</div>
