<h3 class="library-title"><%= library.escape("title") %></h3>

<ul class="movie-list"></ul>
<div class="lib-show-prompt">
  <p>Want to add more movies to this list?</p>
  <button>Browse Movies</button> or <button>Search for Movies</button>
</div>
