<header class="movie-show"></header>

<section class="movie-show-info">
  <h2 class="title"><%= movie.escape("title") %> (<%= movie.escape("year") %>)</h2>

  <div class="visuals group">
    <img class="poster" src="<%= movie.escape("poster_url") %>">

    <p class="your-rating"></p>
    <div class="stars"></div>

    <p class="avg-rating"></p>
    <div class="avg-stars"></div>
  </div>

  <div class="movie-details group">

    <div class="credits">
      <p class="director"></p>

      <p class="description"></p>
    </div>

    <figure class="lib-buttons">
      <p>Your Libraries</p>
      <ul class="lib-button-list"></ul>
    </figure>
  </div>

</section>

<section class="movie-reviews">
  <h3>Reviews:</h3>
  <ul class="reviews-list"></ul>

  <div>
    <button class="add-review">Write a review for this movie</button>
  </div>
</section>
