<header class="movie-show"></header>

<section class="movie-show-info">
  <h2 class="title"><%= movie.escape("title") %> (<%= movie.escape("year") %>)</h2>
  <h4 class="tagline"></h4>

  <div class="visuals group">
    <img class="poster" src="<%= movie.escape("poster_url") %>">
  </div>

  <div class="movie-details group">

    <div class="credits">
      <p class="director"></p>
      <p class="writer"></p>

      <p>Cast:</p>
      <ul class="cast"></ul>

      <p class="description"></p>


      <div class="numbers">
        <p class="runtime"></p>
        <p class="budget"></p>
        <p class="revenue"></p>
      </div>
      
    </div>




    <figure class="lib-buttons">
      <p>Your Libraries</p>
      <ul class="lib-button-list"></ul>
    </figure>
  </div>

</section>

<section class="movie-ratings">
  <h3>Ratings:</h3>

  <div class="ratings-container group">
    <p class="your-rating"></p>
    <div class="stars"></div>

    <p class="avg-rating"></p>
    <div class="avg-stars"></div>

    <div class="imdb hidden">
      <a href="" target="_blank">
        <p>IMDb rating:</p>
        <div class="critic-logo">
          <img src="images/imdb-logo.png">
          <p><span class="imdb-rating"></span>/10</p>
        </div>
      </a>
    </div>

    <div class="metacritic hidden">
      <a href="" target="_blank">
        <p>Metacritic rating:</p>
        <div class="critic-logo">
          <img src="images/metacritic-logo.png">
          <p><span class="metacritic-rating"></span>/100</p>
        </div>
      </a>
    </div>
  </div>

</section>

<section class="movie-reviews">
  <h3>Reviews:</h3>
  <ul class="reviews-list"></ul>

  <div>
    <button class="add-review">Write a review for this movie</button>
  </div>
</section>
