<ul class="errors-list"></ul>

<h3 class="add-movie-title">Add a New Movie</h3>

<p class="add-movie-disclaimer">
  Note: GoodFlicks has a LARGE database of movies.
   Please make sure you have already
   <a href="#search">searched</a> for the movie you want
   and have not found it before adding it to the database.
</p>

<form class="movie-form group" enctype="multipart/form-data">

  <div class="input">
    <label>Title (required):
      <input type="text" name="movie[title]" value="<%= movie.escape("title") %>"></input>
    </label>
  </div>

  <div class="input">
    <label>Director:
      <input type="text" name="movie[director]" value="<%= movie.escape("director") %>"></input>
    </label>
  </div>

  <div class="input">
    <label>Year:
      <input type="number" name="movie[year]" min="1896" max="<%= new Date().getFullYear() + 2%>"
             value="<%= movie.escape("year") %>"></input>
    </label>
  </div>

  <div class="textarea">
      <textarea rows="10" cols="30">Write a synopsis here:</textarea>
  </div>

  <div class="input">
    <label>Poster Image
      <input id="input-picture-file" type="file" name="movie[poster]">
    </label>
  </div>

  <div class="picture-preview">
    <img src="" id="picture-preview">
  </div>

</form>

<div class="movie-form-btn">
  <button class="submit-movie-form" >Add Movie!</button>
</div>

<div class="movie-form-btn-cancel">
  <button class="cancel-movie-form">Cancel</button>
</div>
