<header class="movie-index group"></header>

<figure class="movie-index">
  <h3>Recently Added Movies</h3>
  <ul class="movie-list group"></ul>
</figure>
<a href="#movies/new">Add a new Movie</a><br>
