<h3>So what'd ya think?</h3>
<div class="textarea">
  <textarea class="review" rows="10" cols="40" name="review[body]"><%= review.get("body") %></textarea>
</div>

<div class="form-items group">
  <div class="input">
    <label>Number of Stars:
      <input type="number" name="review[num_stars]" min="0" max="5" step="1"
             value="<%= review.get("num_stars") %>">
    </label>
  </div>

  <div class="radio">
    <label>Private
      <input id="is_private" type="radio" name="review[is_public]" value="false">
    </label>
  </div>

  <div class="radio">
    <label>Public
      <input id="is_public" type="radio" name="review[is_public]" value="true">
    </label>
  </div>

  <div class="submit-button">
    <button type="submit"></button>
  </div>

  <div class="cancel-button">
    <button class="cancel">Cancel</button>
  </div>
</div>
