<p class="body"><%= review.escape("body") %></p>
<section class="rev-stats">
  <div class="rev-stars"></div>
  <p class="user-or-movie"><a href="#"></a></p>
  <p class="updated-at"><%= review.get("updated_at") %></p>
</section>
<button class="edit hidden">Edit Review</button>
<button class="delete hidden">Delete Review</button>
