<p class="body"><%= review.escape("body") %></p>
<p class="stars">Number of Stars: <%= review.get("num_stars") %></p>
<p class="user-or-movie"><a href="#"></a></p>
<p class="updated-at"><%= review.get("updated_at") %></p>
<button class="edit hidden">Edit Review</button>
<button class="delete hidden">Delete Review</button>

<div class="modal hidden">
  <section class="modal-screen"></section>
  <section class="modal-form group"></section>
</div>
