<p><%= review.escape("body") %></p>
<p>Number of Stars: <%= review.get("num_stars") %></p>
<p class="userOrMovie"></p>
<p><%= review.get("updated_at") %></p>
<button class="edit hidden">Edit Review</button>
<button class="delete hidden">Delete Review</button><br><br>
