<header class="search">
  <label>Search for Movies or Users:
    <input type="text" class="query">
  </label>
  <button type="submit">Search</button>
</header>

<div class="results-container group">
  <section class="movie-results">
    <span class="empty-movie-msg"></span>
    <ul class="movie-results"></ul>
  </section>

  <section class="user-results">
    <span class="empty-user-msg"></span>
    <ul class="user-results"></ul>
  </section>
</div>
