<header class="search">
  <form class="search-form">
    <label>Search:
      <input type="text" name="search[query]" class="query">
    </label>
    <label>Movies
      <input type="radio" name="search[model]" value="movies" checked>
    </label>
    <label>Users
      <input type="radio" name="search[model]" value="users">
    </label>

    <button type="submit">Search</button>
  </form>
</header>

<div class="results-container group">
  <section class="results">
    <h3 class="results-title"></h3>
    <span class="empty-msg"></span>
    <ul class="results-list"></ul>
  </section>
</div>

<div class="movie-add">
  Really sure you can't find what your looking for?
  <a href="#movies/new">Add a movie</a>
  to our database.
</div>
