<h1>Search</h1>

<label>Enter a Movie Title:
  <input type="text" class="query">
</label>
<button type="submit">Search</button>

<ul class="search-results">
<% results.forEach (function(result) { %>
  <li class="result" data-movie-db-id="<%= result.id %>">
    <%= result.title %> (<%= result.release_date.slice(0,4) %>)
  </li>
<% }) %>
</ul>
