<header class="rails-header group">
  <a href="#"><div class="home-link">
    <% if @current_user %>
      <p>There's no place like</p>
      <p class="home">HOME</p>
    <% else %>
      <% if flash.now[:errors] %>
        <ul class="error-list">
        <% flash.now[:errors].each do |error| %>
          <li class="error"><%= error %></li>
        <% end %>
        </ul>
      <% end %>
    <% end %>
    </div></a>

  <div class="logo">
    <a href="#"><img class="logo" src="/images/GoodFlicks-logo.png"></a>
  </div>

  <nav class="welcome">
    <% if @current_user %>
      <p>Welcome, <%= @current_user.username %>.</p>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Log Out</button>
      </form>
    <% else %>
      <p>Find, share and review all your favorite films!</p>
    <% end %>
  </nav>
</header>
