<header group>
  <nav class="welcome">
    <% if @current_user %>
      <p>Welcome, <%= @current_user.username %>.</p>

      <form action="<%= session_url %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Log Out</button>
      </form>
    <% end %>
  </nav>

  <a href="#"><img class="logo" src="/images/GoodFlicks-logo.png"></a>

  <% if flash.now[:errors] %>
    <p class="errors"><%= flash.now[:errors] %></p>
  <% end %>
</header>
